* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

.header-wrapper {
    background-image: url(../images/header-background-1920.png);
    background-size: cover;
}

.header {
    max-width: 1560px;
    margin: 0 auto;
    height: 100%;
    padding-top: 3.2em;
    padding-bottom: 6.8em;
    /* padding-left: 0.9375em;
    padding-right: 0.9375em; */
    font-size: 16px;
}

.header_svg {
    width: 191px;
    margin-left: -35px;
}

.header__logo {
    position: relative;
    text-align: center;
    height: 52px;
}

.header__title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 0.05em;
    max-width: 1545px;
    margin: 0 auto;
    line-height: 1.2em;
    width: 100%;
    padding-top: 270px;
    padding-bottom: 185px;
}

.title__two {
    display: flex;
    justify-content: flex-end;
}

.title__two {
    padding-left: 1.6em;
}

.header__download {
    display: flex;
    width: 750px;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 14px;
}


.header__download-logo {
    width: 40px;
}

.btn {
    display: flex;
    background: #5e42b0;
    width: 311px;
    border-radius: 45px;
    height: 77px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    padding: 0 40px;
}

.bold {
    font-weight: bold;
}

.header__text {
    padding-left: 25px;
}

/* Первая секция*/


.athlets {
    position: relative;
    overflow: hidden;
}

.athlets__img {
    position: absolute;
    top: -3.3em;
    right: calc(50% + 50px);
    height: 110.5em;
    margin-bottom: -19em;
    padding-bottom: 3px;
    font-size: 10px;
}

.athlets__title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
}

.athlets__caption {
    color: #c1c1c1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}

.athlets__number {
    position: relative;
}


.athlets__number:after {
    content: "";
    width: 19px;
    background-color: #5e42b0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    border-radius: 20px;

}

.athlets__number:before {
    counter-increment: feature;
    content: "0" counter(feature);
    position: absolute;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.athlets__item {
    padding: 50px 0;
}

.athlets__text {
    font-family: OpenSans-Regular, Arial, sans-serif;
}


@media (min-width: 641px) and (max-width: 960px) {
    .header__logo {
        font-size: 14px;
    }

    .header-wrapper {
        background-image: url(../images/header-background-768.png);
    }

    .header_svg {
        width: 205px;
    }

    .header__title {
        font-size: 64px;
        max-width: 606px;
    }

    .header__download {
        width: 100%;
    }

    /* первая секция */
    .athlets__img {
        left: 0;
        top: 95px;
    }

}

@media (min-width: 320px) and (max-width: 640px) {
    .header__logo {
        font-size: 12px;
    }

    .header-wrapper {
        background-image: url(../images/header-background-320.png);
    }
    
    .header_svg {
        width: 131px;
    }

    .header__title {
        font-size:28px;
        max-width: 280px;
    }

    .title__two {
        padding-top: 0.9em;
    }

    .header__download {
        max-width: 320px;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .btn {
        font-size: 8px;
        height: 35px;
    }

    .header__download-logo {
        width: 20px;
    }

    .btn:first-child {
        margin-bottom: 14px;
    }

}


/* 320px, 768px и 1920px */